<!DOCTYPE html>
<html>


<head>
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <div class="main-content">
      {{>header}} 
      <p>This site was created by suresh verma.it uses data from opencage.com and  weatherstock.com!</p>
      <img class="portrait" src="/img/capture.png">
     </div> 
    
    {{>footer}}
</body>
</html>