<!DOCTYPE html>
<html>


<head>
     <title>weather</title>
<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
     
     <div class="main-content">
      {{>header}} 
      <p>use this site to get weather details</p>

      <form>
     <input placeholder="location">
     <button>search</button>
    </form>
      <p id="message-1"></p>
      <p id="message-2"></p>
      <p id="message-3"></p>
      <p id="message-4"></p>



     </div>

     {{>footer}}
    {{!-- <p1>created by {{name}}</p1> --}}
<script src="/js/app.js"></script>
    
</body>
</html> 